<!Doctype html>
<html lang="ko">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
              integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
              crossorigin="anonymous">

        <!-- JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
                integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
                crossorigin="anonymous"></script>

        <!-- 구글폰트 -->
        <!--        <link href="https://fonts.googleapis.com/css?family=Stylish&display=swap" rel="stylesheet">-->
        <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Noto+Serif+KR&display=swap"
              rel="stylesheet">

        <title>DON'T FORGET | 데일리 티켓오픈 알림</title>

        <meta property="og:title" content="DON'T FORGET | 데일리 티켓오픈 알림"/>
        <meta property="og:description" content="보고싶었던 공연, 놓치지 마세요."/>
        <meta property="og:image" content="{{ url_for('static', filename='og_img.png') }}"/>

        <!-- style -->
        <style type="text/css">
            * {
                /*font-family: "Stylish", sans-serif;*/
                font-family: 'Noto Serif KR', serif;
            }

            h1, h1.display-4 {
                font-family: 'Libre Baskerville', serif;
            }

            .wrap {
                width: 900px;
                margin: 20px auto;
                text-align: center;
            }

            .comment {
                color: blue;
                font-weight: bold;
            }

        </style>
        <script>
            $(document).ready(function () {
                $("#cards-box1").html("");
                $("#cards-box2").html("");
                showOpens();
                $("#carouselExampleSlidesOnly").carousel();

            });

            function saveEmails() {
                let email = $("#inputEmail").val();
                console.log(email)
                $.ajax({
                    type: "POST",
                    url: "/ticketOpen",
                    data: {req_email: email},
                    success: function (response) {
                        let result = response['result'];
                        if (result === 'success') {
                            alert("저장되었습니다.");
                            window.location.reload();
                        } else if (result === 'overlap') {
                            alert("이미 등록된 메일주소입니다.")
                            window.location.reload();
                        }
                    }
                })
            }

            function showOpens() {
                $.ajax({
                    type: "GET",
                    url: "/ticketOpen",
                    data: {},
                    success: function (response) {
                        let open_info = response['open_info'];
                        console.log(open_info);
                        let loopCount = 0;
                        if (open_info.length <= 4) {
                            loopCount = 4;
                        } else if (open_info.length <= 8) {
                            loopCount = 8;
                        } else {
                            loopCount = open_info.length;
                        }
                        for (let i = 0; i < loopCount; i++) {
                            console.log(i);
                            if (i < 4) {
                                if (open_info.length - 1 >= i) {
                                    makeCard(i, open_info[i]['link'], open_info[i]["title"], open_info[i]['exclusive_sale'], open_info[i]['open_time'], open_info[i]['img_url'], 1);
                                } else {
                                    makeCard(i, '#', '준비중', '', '', 'https://image.flaticon.com/icons/svg/659/659889.svg', 1)
                                }
                                $("#carousel-control-prev").hide();
                                $("#carousel-control-next").hide();
                            } else if (i < 8) {
                                if (open_info.length - 1 >= i) {
                                    makeCard(i, open_info[i]['link'], open_info[i]['title'], open_info[i]['exclusive_sale'], open_info[i]['open_time'], open_info[i]['img_url'], 2);
                                } else {
                                    makeCard(i, '#', '준비중', '', '', 'https://image.flaticon.com/icons/svg/659/659889.svg', 2)
                                }
                                $("#carousel-control-prev").show();
                                $("#carousel-control-next").show();
                            }
                        }
                    }
                })
            }

            function makeCard(cnt, url, title, desc, comment, image, id) {
                let tempCard = '';
                let appendId = '';
                if (title.length > 24) {
                    title = title.substring(0, 22) + '...';
                }

                if (cnt === 4) {
                    tempCard = `
                    <div class="carousel-item"">
                        <div id="cards-box2" class="card-columns d-flex">
                            <div class="card">
                                <div style="height: 291px">
                                <img class="card-img-top"
                                     src=${image}
                                     alt="Card image cap">
                                </div>
                                <div class="card-body">
                                    <a href=${url} class="card-title">${title}</a>
                                    <p class="card-text">${desc}</p>
                                    <p class="card-text comment">${comment}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    `
                    appendId = '#carousel-inner';
                } else {
                    tempCard = `
                    <div class="card" style="height: 400px">
                        <div style="height: 291px">
                        <img class="card-img-top"
                             src=${image}
                             alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <a href=${url} class="card-title">${title}</a>
                            <p class="card-text">${desc}</p>
                            <p class="card-text comment">${comment}</p>
                        </div>
                    </div>`;
                    appendId = '#cards-box' + id;
                }

                $(appendId).append(tempCard);
                console.log(title)
            }

            function saveAlarm() {
                let alarmInfo = {
                    email: $("#inputEmail").val()/*,
                    time: $("#selectTime").val()*/
                }

                formCheck(alarmInfo);
                saveEmails();
            }

            function formCheck(obj) {
                /*if (!obj.time) {
                    alert("시간을 설정해주세요.");
                    $("#selectTime").focus();
                    return false;
                } else */
                if (!obj.email) {
                    alert("메일주소를 입력해주세요.");
                    $("#inputEmail").focus();
                    return false;
                } else {
                    var reg_email = /^([0-9a-zA-Z_\.-]+)@([0-9a-zA-Z_-]+)(\.[0-9a-zA-Z_-]+){1,2}$/;
                    if (!reg_email.test(obj.email)) {
                        alert("메일형식을 확인해주세요.");
                        $("#inputEmail").focus();
                        return false;
                    }
                }
            }
        </script>

    </head>

    <body>
        <div class="wrap">
            <div class="jumbotron" style="background: transparent; padding-bottom: 10px">
                <h1 class="display-4">DON'T FORGET</h1>
                <p class="lead">보고싶었던 공연, 놓치지 마세요.</p>
                <hr class="my-1">
            </div>
            <div style="margin-bottom: 50px">
                <p>▼ 이메일 주소를 작성해주세요. <br/>매일 오전 9시에 그날의 티켓오픈 알림메일을 보내드립니다.</p>
                <!--<div class="input-group mb-3" style="width: 400px; margin: auto">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="selectTime">시간설정</label>
                    </div>
                    <select class="custom-select" id="selectTime">
                        <option selected>선택</option>
                        <option value="1">1시간 전</option>
                        <option value="2">오전 9시</option>
                        <option value="3">하루 전</option>
                    </select>
                </div>-->
                <div class="input-group mb-3" style="width: 400px; margin: auto">
                    <input type="text" class="form-control" placeholder="" aria-label=""
                           aria-describedby="basic-addon1" id="inputEmail">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" onclick="saveAlarm()">기억하기</button>
                    </div>
                </div>
            </div>
            <div id="ticket-open">
                <h1>TICKET OPEN</h1>
                <br>
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner" id="carousel-inner">
                        <div class="carousel-item active">
                            <div id="cards-box1" class="card-columns d-flex">

                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev"
                       onclick="$('#carouselExampleSlidesOnly').carousel('prev')" id="carousel-control-prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next"
                       onclick="$('#carouselExampleSlidesOnly').carousel('next')" id="carousel-control-next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </body>
</html>